body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f7fb; /* Light greyish-blue background for the body */
    color: #333; /* Dark grey text for contrast */
}

#speedDiv,
#qualityDiv {
    margin-bottom: 10px;
    background-color: #e9f2fc; /* Light blue background for divs */
    border-radius: 8px; /* Rounded corners for a softer look */
    border: 1px solid #c0d7f0; /* Light border to define the div */
}

#speedDiv button,
#qualityDiv button {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
    background-color: #619cdb; /* Blue background for buttons */
    color: white; /* White text on buttons */
    border: none; /* No borders for buttons */
    border-radius: 5px; /* Slightly rounded button edges */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0s ease-in-out; /* Smooth background change on hover */
}

#speedDiv button:hover,
#qualityDiv button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

input[type="text"] {
    width: 75px;
    height: auto;
    margin-bottom: 2px;
    background-color: #ffffff; /* White background for input */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded corners for input */
    color: #333; /* Dark grey text color */
    transition: border-color 0.3s ease-in-out; /* Smooth border color change */
}

input[type="text"]:focus {
    border-color: #007bff; /* Blue border when input is focused */
    outline: none; /* Remove outline for cleaner look */
}
